// Base Partial

// Import Rules
	@import "compass/reset";	
	@import "compass/layout/sticky-footer";
	@import "bootstrap";

// Box Model/Layout
	.centerVertically { margin: 0 auto; }

// Colors
	$white: #fff;
	$darkgray: #222;
	$ash: #aaa;
	$miviajeblue: #80D2E9;

// Typography

	$basefont: "jaf-facitweb",sans-serif;

	// Weights
	@mixin light { font-weight: 200; }
	@mixin italic { font-style: italic; }
	@mixin bold { font-weight: bold; }

	// Special Type Treatment
	.tagline { @include light; }


// Links & Buttons
	.btn { font-family: 'Helvetica Neue', sans-serif; }