{% extends 'MiviajeMainBundle::layout.html.twig' %}

{% block before_content %}

{% endblock %}

{% block after_content %}
<footer>
	<nav>
		<a href="">Blog</a>
		<a href="">Twitter</a>
		<a href="">Facebook</a>
	</nav>
</footer>
{% endblock %}

