{% extends 'MiviajeMainBundle::layout.html.twig' %}

{% block content %}

<div class="container">
	<div class="wrapper">
		<header>
			<div id="brand">
				<img src="/bundles/miviajemain/images/essentials/logo_inv.png" alt="MiViaje">
			</div>
			<h1 class="tagline"><em>Plan your trip. Share your journey.</em></h1>
		</header>
		<section>
			<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet.</p>
			<a href= "{{ path('authenticate') }}" class="btn btn-large btn-info">SIGN UP USING TWITTER</a>
		</section>
	</div>
</div>

{% endblock %}
