{% extends 'MiviajeMainBundle::layout.html.twig' %}

{% block content %}

<div id="login" class="container">
	<div class="wrapper">
		<header>
			<div id="brand">
				<img src="/bundles/miviajemain/images/essentials/logo_inv.png" alt="MiViaje">
			</div>
			<h1 class="tagline"><em>Plan your trip. Share your journey.</em></h1>
		</header>
		<section>
			
			<a href= "{{ path('authenticate') }}" class="btn btn-large btn-info">Sign up using Twitter</a>
		</section>
	</div>
</div>

{% endblock %}
